.class-player {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  margin-bottom: 1rem;
  /* height: 200px; */
}

.class-player .class-image {
  width: 250px;
  height: auto;
  margin-top: -50px;
  border-radius: 10px;
  margin-right: 1rem;
}

.class-player .list-group {
  margin: 1rem 0 0 1rem;
}

.class-player .list-group-item {
  padding: .25rem;
}

.class-player .list-group-item .term {
  margin-right: .5rem;
}